* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 80%;
    margin: auto;
    background-color: white;
    margin-top: 10px;
    color: #BFBFBF;
}

/* header */
header img {
    height: 50px;
    padding-right: 20px;
    border-right: 1px solid lightgrey;
}
header nav ul li{
    display: inline-block;
    position: sticky;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #BFBFBF;
    padding: 20px 8px 15px 0;
}

/* banner */
.banner {
    position: relative;
    height: 450px;
    background-image: url('../img/banner.jpg');
    background-position: right 50% bottom 50%;
    border-radius: 3%;
    color: black;
    /* border: dashed 5px white; */
}
.titolo_didascalia{
    position: absolute;
    top: 65%;
    width: 50%;
    margin-left: 5%;
        color: black;

}
.titolo_didascalia h3 {
    font-family: 'Montserrat', sans-serif;
    font-size:150%;
    font-weight: 500;

}


/* middle */

.middle h2 {
    color: black;
    font-family: 'Montserrat';
    font-size: 180%;
    font-weight: 800;
}
.middle h4 {
    font-size: 110%;
    color: grey;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-bottom: 15px;
}
.middle p{
    font-family: 'Montserrat';
    font-size: 80%;
}
.middle::after {
    content: "";
    display: block;
    clear: both;
}
.middle .box_titolo {
    /* background-color: black; */
    margin: 20px 0;
}

.middle .box_left img,
.middle .box_right img {
    object-fit: cover;
    object-position: center;
    height: 175px;
    width: 100%;
    border-radius: 3%;
        border: solid 3px blue;
    margin-bottom: 20px;
}
.middle .box_middle img{
    object-fit: cover;
    object-position: center;
    height: 175px;
    width: 100%;
    border-radius: 3%;
        border: dotted 3px red;

    margin-bottom: 20px;
}
.middle .box_left,
.middle .box_right
 {
    float: left;
        /* color: black; */
    width: 20%;
    margin-top: 2%;
}
.middle .box_middle{
    float: left;
    /* background-color: #ABCFE7; */
    height: 90%;
    width: 55%;
    margin: 2% 2%;
}
/* fine della parte centrale inferiore */

footer{
    height: 40px;
    margin: 5px 0 10px 0;
    background-color: #8801FE;
}
/* fine del footer */
