* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 80%;
    margin: auto;
    background-color: white;
    margin-top: 10px;
}

/* header */
header img {
    height: 50px;
    padding-right: 20px;
    border-right: 1px solid lightgrey;
}
header nav ul li{
    display: inline-block;
    position: sticky;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #BFBFBF;
    padding: 20px 8px 15px 0;
}

/* banner */
.banner {
    position: relative;
    height: 450px;
    background-image: url('../img/banner.jpg');
    background-position: right 50% bottom 50%;
    border-radius: 4%;
    color: black;
    /* border: dashed 5px white; */
}
.titolo_didascalia{
    position: absolute;
    top: 65%;
    width: 50%;
    margin-left: 5%;
        color: black;

}
.titolo_didascalia h3 {
    font-family: 'Montserrat', sans-serif;
    font-size:150%;
    font-weight: 500;

}


/* middle */
.middle {
    margin-top: 20px;
    color: #BFBFBF;
}
.middle h2 {
    /* color: blue; */
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    font-weight: 800;
}
.middle p {
    color:
}
.middle::after {
    content: "";
    display: block;
    clear: both;
}

.middle .box_titolo {
    height: 70px;
    background-color: black;
}
.middle .box_left,
.middle .box_right
 {
    float: left;
    background-color: #ABCFE7;
    height: 500px;
    width: 23%;
    margin-top: 2%;
}
.middle .box_middle{
    float: left;
    background-color: #ABCFE7;
    height: 500px;
    width: 50%;
    margin: 2% 2%;
}
/* fine della parte centrale inferiore */

footer{
    height: 40px;
    margin: 5px 0 10px 0;
    background-color: #8801FE;
}
/* fine del footer */
